* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --card-color: #E1AEFF;
    --white-color:#FFFFFF;
    --dark-color:#333333;
    --box-shadow-color:#DD58D6;
}

body {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    background-size: contain;
    width: 100%;
    height: 100vh;
}

main {
    width: 80%;
    margin-top: 20px;
}

.pokemon-card {
    position: relative;
    z-index: 1;
}

.pokemon-card:hover {
    background-color: var(--card-color);
    border: 1px solid var(--white-color);
    border-radius: 16px;
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--box-shadow-color);
    outline: 1px solid var(--box-shadow-color);
    transition: all 0.6s ease-out;
}

.pokemon-image {
    width: 100px;
    height: 100px;
}
.pop-up-image {
    width: 100px;
    height: 100px;
}
.text-container {
    width: 80%;
}

.caption figcaption, .pop-up-title {
    text-transform: capitalize;
}

.pop-up-box {
    background-color: #fff;
    z-index: 10;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.fa-xmark {
    padding-right: 15px;
}
.overlay {
    position: fixed;
    background-color:rgba(12, 12, 12, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 8;
}

.hidePopUp {
    display: none;
}